header {
  display: flex;
  margin-bottom: 20px;
  background-color: rgb(131, 173, 252);
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header li {
  padding: 10px;
}

header li a {
  text-decoration: none;
  color: white;
}

.App {
  margin: 0 auto;
  max-width: 60rem;
  padding: 2rem;
  background-color: white;
}

body {
  background-color: rgb(243, 243, 243);
}

button {
  background-color: rgb(131, 173, 252);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button.submit {
  background-color: rgb(20, 209, 146);
}

h1.pageTitle {
  margin-top: 0px;
}


pre.codeOutput {
  min-height: 80px;
  background-color: lightgray;
  border-radius: 5px;
  padding: 10px;
}

.exercise {
  margin-bottom: 80px;
}

.indent {
  margin-left: 20px;
}